---
layout: single
classes:
  - landing
  - dark-theme
  - wide
---

{{ content }}

<h2 class="portfolio__title"><a href="/coll_portfolio/">{{ site.data.ui-text[site.locale].coll_portfolio | default: "Current Projects" }}</a></h2>

{% assign portfolio_items = site.coll_portfolio | default: site.collections['coll_portfolio'].docs %}

<div class="portfolio-entries" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1rem;">
  {% for item in portfolio_items %}
    <div class="portfolio-item">
      <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
        {% if item.header.teaser %}
          <div class="archive__item-teaser">
            <a href="{{ item.url }}"><img src="{{ item.header.teaser | relative_url }}" alt=""></a>
          </div>
        {% endif %}
        <h4 class="archive__item-title">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </h4>
        <p class="archive__item-excerpt">{{ item.excerpt | strip_html | truncate: 150 }}</p>
      </article>
    </div>
  {% endfor %}
</div>


<h2 class="portfolio__title"><a href="/coll_finished/">{{ site.data.ui-text[site.locale].portfolio | default: "Finished Projects" }}</a></h2>



{% assign portfolio_items = site.coll_finished | default: site.collections['coll_finished'].docs %}

<div class="portfolio-entries" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1rem;">
  {% for item in portfolio_items %}
    <div class="portfolio-item">
      <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
        {% if item.header.teaser %}
          <div class="archive__item-teaser">
            <a href="{{ item.url }}"><img src="{{ item.header.teaser | relative_url }}" alt=""></a>
          </div>
        {% endif %}
        <h4 class="archive__item-title">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </h4>
        <p class="archive__item-excerpt">{{ item.excerpt | strip_html | truncate: 150 }}</p>
      </article>
    </div>
  {% endfor %}
</div>



<h2 class="portfolio__title"><a href="/coll_lessonscripts/">{{ site.data.ui-text[site.locale].portfolio | default: "Unterrichtsskripte Informatik (deutsch)" }}</a></h2>



{% assign portfolio_items = site.coll_lessonscripts | default: site.collections['coll_lessonscripts'].docs %}

<div class="portfolio-entries" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1rem;">
  {% for item in portfolio_items %}
    <div class="portfolio-item">
      <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
        {% if item.header.teaser %}
          <div class="archive__item-teaser">
            <a href="{{ item.url }}"><img src="{{ item.header.teaser | relative_url }}" alt=""></a>
          </div>
        {% endif %}
        <h4 class="archive__item-title">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </h4>
        <p class="archive__item-excerpt">{{ item.excerpt | strip_html | truncate: 150 }}</p>
      </article>
    </div>
  {% endfor %}
</div>

{% include paginator.html %}
